@model ManageUsersViewModel

<div class="section section-admin">
    <h6>Manage Users</h6>
    <form asp-action="UpdateUsers">
    <div class="pp-manage-users">
        @for (int i = 0; i < this.Model.Users.Count(); i++)
        {
            <div class="pp-sg-card">
                <input class="pp-hi" type="hidden" asp-for="@this.Model.Users[i].Id" />
                <input asp-for="@this.Model.Users[i].FirstName" />
                <input asp-for="@this.Model.Users[i].LastName" />
                <input asp-for="@this.Model.Users[i].Email" />
                <select asp-for="@this.Model.Users[i].RoleId" asp-items="@(new SelectList(this.Model.Users[i].Roles, nameof(SelectListItem.Value), nameof(SelectListItem.Text)))">
                    <option>Select One</option>
                </select>
            </div>
        }
        </div>
        <span class="button-group">
            <button class="btn btn-primary pp-button" type="submit">Submit</button>
            <button class="btn btn-secondary pp-button" type="reset">Reset</button>
        </span>
    </form>
</div>
