@using PlayoffPool.MVC.Models.Bracket;
@model BracketViewModel

@{
    string error = "There was a problem loading this game. Please contact Steven.";
}

<div class="container">
    <form method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        @if (this.Model.AfcWildCardGame1 != null)
                        {
                            <div class="pp-matchup">
                                <input type="hidden" asp-for="AfcWildCardGame1!.Name" />
                                <span class="pp-game-name">AFC Wildcard Game 1</span>
                                <div class="form-check">
                                    <input type="hidden" asp-for="AfcWildCardGame1!.HomeTeam.ViewId" />
                                    <input type="hidden" asp-for="AfcWildCardGame1!.HomeTeam.Id" />
                                    <input type="hidden" asp-for="AfcWildCardGame1!.HomeTeam.Name" />
                                    <input class="form-check-input" type="radio" asp-for="AfcWildCardGame1!.SelectedWinner" id="@this.Model.AfcWildCardGame1.HomeTeam.ViewId" value="@this.Model.AfcWildCardGame1.HomeTeam.Id" />
                                    <label for="@this.Model.AfcWildCardGame1.HomeTeam.ViewId">@this.Model.AfcWildCardGame1.HomeTeam.Name</label>
                                </div>
                                <div class="form-check">
                                    <input type="hidden" asp-for="AfcWildCardGame1!.AwayTeam.ViewId" />
                                    <input type="hidden" asp-for="AfcWildCardGame1!.AwayTeam.Id" />
                                    <input type="hidden" asp-for="AfcWildCardGame1!.AwayTeam.Name" />
                                    <input class="form-check-input" type="radio" asp-for="AfcWildCardGame1!.SelectedWinner" id="@this.Model.AfcWildCardGame1.AwayTeam.ViewId" value="@this.Model.AfcWildCardGame1.AwayTeam.Id" />
                                    <label for="@this.Model.AfcWildCardGame1.AwayTeam.ViewId">@this.Model.AfcWildCardGame1.AwayTeam.Name</label>
                                </div>
                                <span asp-validation-for="AfcWildCardGame1!.SelectedWinner" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <span class="pp-error">@error</span>
                        }
                    </div>

                    <div class="row">
                        @if (this.Model.AfcWildCardGame2 != null)
                        {
                            <div class="pp-matchup">
                                <input type="hidden" asp-for="AfcWildCardGame2!.Name" />
                                <span class="pp-game-name">AFC Wildcard Game 2</span>
                                <div class="form-check">
                                    <input type="hidden" asp-for="AfcWildCardGame2!.HomeTeam.ViewId" />
                                    <input type="hidden" asp-for="AfcWildCardGame2!.HomeTeam.Id" />
                                    <input type="hidden" asp-for="AfcWildCardGame2!.HomeTeam.Name" />
                                    <input class="form-check-input" type="radio" asp-for="AfcWildCardGame2!.SelectedWinner" id="@this.Model.AfcWildCardGame2.HomeTeam.ViewId" value="@this.Model.AfcWildCardGame2.HomeTeam.Id" />
                                    <label for="@this.Model.AfcWildCardGame2.HomeTeam.ViewId">@this.Model.AfcWildCardGame2.HomeTeam.Name</label>
                                </div>
                                <div class="form-check">
                                    <input type="hidden" asp-for="AfcWildCardGame2!.AwayTeam.ViewId" />
                                    <input type="hidden" asp-for="AfcWildCardGame2!.AwayTeam.Id" />
                                    <input type="hidden" asp-for="AfcWildCardGame2!.AwayTeam.Name" />
                                    <input class="form-check-input" type="radio" asp-for="AfcWildCardGame2!.SelectedWinner" id="@this.Model.AfcWildCardGame2.AwayTeam.ViewId" value="@this.Model.AfcWildCardGame2.AwayTeam.Id" />
                                    <label for="@this.Model.AfcWildCardGame2.AwayTeam.ViewId">@this.Model.AfcWildCardGame2.AwayTeam.Name</label>
                                </div>
                                <span asp-validation-for="AfcWildCardGame2!.SelectedWinner" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <span class="pp-error">@error</span>
                        }
                    </div>

                    <div class="row">
                        @if (this.Model.AfcWildCardGame3 != null)
                        {
                            <div class="pp-matchup">
                                <input type="hidden" asp-for="AfcWildCardGame3!.Name" />
                                <span class="pp-game-name">AFC Wildcard Game 3</span>
                                <div class="form-check">
                                    <input type="hidden" asp-for="AfcWildCardGame3!.HomeTeam.ViewId" />
                                    <input type="hidden" asp-for="AfcWildCardGame3!.HomeTeam.Id" />
                                    <input type="hidden" asp-for="AfcWildCardGame3!.HomeTeam.Name" />
                                    <input class="form-check-input" type="radio" asp-for="AfcWildCardGame3!.SelectedWinner" id="@this.Model.AfcWildCardGame3.HomeTeam.ViewId" value="@this.Model.AfcWildCardGame3.HomeTeam.Id" />
                                    <label for="@this.Model.AfcWildCardGame3.HomeTeam.ViewId">@this.Model.AfcWildCardGame3.HomeTeam.Name</label>
                                </div>
                                <div class="form-check">
                                    <input type="hidden" asp-for="AfcWildCardGame3!.AwayTeam.ViewId" />
                                    <input type="hidden" asp-for="AfcWildCardGame3!.AwayTeam.Id" />
                                    <input type="hidden" asp-for="AfcWildCardGame3!.AwayTeam.Name" />
                                    <input class="form-check-input" type="radio" asp-for="AfcWildCardGame3!.SelectedWinner" id="@this.Model.AfcWildCardGame3.AwayTeam.ViewId" value="@this.Model.AfcWildCardGame3.AwayTeam.Id" />
                                    <label for="@this.Model.AfcWildCardGame3.AwayTeam.ViewId">@this.Model.AfcWildCardGame3.AwayTeam.Name</label>
                                </div>
                                <span asp-validation-for="AfcWildCardGame3!.SelectedWinner" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <span class="pp-error">@error</span>
                        }
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        @if (this.Model.NfcWildCardGame1 != null)
                        {
                            <div class="pp-matchup">
                                <input type="hidden" asp-for="NfcWildCardGame1!.Name" />
                                <span class="pp-game-name">Nfc Wildcard Game 1</span>
                                <div class="form-check">
                                    <input type="hidden" asp-for="NfcWildCardGame1!.HomeTeam.ViewId" />
                                    <input type="hidden" asp-for="NfcWildCardGame1!.HomeTeam.Id" />
                                    <input type="hidden" asp-for="NfcWildCardGame1!.HomeTeam.Name" />
                                    <input class="form-check-input" type="radio" asp-for="NfcWildCardGame1!.SelectedWinner" id="@this.Model.NfcWildCardGame1.HomeTeam.ViewId" value="@this.Model.NfcWildCardGame1.HomeTeam.Id" />
                                    <label for="@this.Model.NfcWildCardGame1.HomeTeam.ViewId">@this.Model.NfcWildCardGame1.HomeTeam.Name</label>
                                </div>
                                <div class="form-check">
                                    <input type="hidden" asp-for="NfcWildCardGame1!.AwayTeam.ViewId" />
                                    <input type="hidden" asp-for="NfcWildCardGame1!.AwayTeam.Id" />
                                    <input type="hidden" asp-for="NfcWildCardGame1!.AwayTeam.Name" />
                                    <input class="form-check-input" type="radio" asp-for="NfcWildCardGame1!.SelectedWinner" id="@this.Model.NfcWildCardGame1.AwayTeam.ViewId" value="@this.Model.NfcWildCardGame1.AwayTeam.Id" />
                                    <label for="@this.Model.NfcWildCardGame1.AwayTeam.ViewId">@this.Model.NfcWildCardGame1.AwayTeam.Name</label>
                                </div>
                                <span asp-validation-for="NfcWildCardGame1!.SelectedWinner" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <span class="pp-error">@error</span>
                        }
                    </div>

                    <div class="row">
                        @if (this.Model.NfcWildCardGame2 != null)
                        {
                            <div class="pp-matchup">
                                <input type="hidden" asp-for="NfcWildCardGame2!.Name" />
                                <span class="pp-game-name">Nfc Wildcard Game 2</span>
                                <div class="form-check">
                                    <input type="hidden" asp-for="NfcWildCardGame2!.HomeTeam.ViewId" />
                                    <input type="hidden" asp-for="NfcWildCardGame2!.HomeTeam.Id" />
                                    <input type="hidden" asp-for="NfcWildCardGame2!.HomeTeam.Name" />
                                    <input class="form-check-input" type="radio" asp-for="NfcWildCardGame2!.SelectedWinner" id="@this.Model.NfcWildCardGame2.HomeTeam.ViewId" value="@this.Model.NfcWildCardGame2.HomeTeam.Id" />
                                    <label for="@this.Model.NfcWildCardGame2.HomeTeam.ViewId">@this.Model.NfcWildCardGame2.HomeTeam.Name</label>
                                </div>
                                <div class="form-check">
                                    <input type="hidden" asp-for="NfcWildCardGame2!.AwayTeam.ViewId" />
                                    <input type="hidden" asp-for="NfcWildCardGame2!.AwayTeam.Id" />
                                    <input type="hidden" asp-for="NfcWildCardGame2!.AwayTeam.Name" />
                                    <input class="form-check-input" type="radio" asp-for="NfcWildCardGame2!.SelectedWinner" id="@this.Model.NfcWildCardGame2.AwayTeam.ViewId" value="@this.Model.NfcWildCardGame2.AwayTeam.Id" />
                                    <label for="@this.Model.NfcWildCardGame2.AwayTeam.ViewId">@this.Model.NfcWildCardGame2.AwayTeam.Name</label>
                                </div>
                                <span asp-validation-for="NfcWildCardGame2!.SelectedWinner" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <span class="pp-error">@error</span>
                        }
                    </div>

                    <div class="row">
                        @if (this.Model.NfcWildCardGame3 != null)
                        {
                            <div class="pp-matchup">
                                <input type="hidden" asp-for="NfcWildCardGame3!.Name" />
                                <span class="pp-game-name">Nfc Wildcard Game 3</span>
                                <div class="form-check">
                                    <input type="hidden" asp-for="NfcWildCardGame3!.HomeTeam.ViewId" />
                                    <input type="hidden" asp-for="NfcWildCardGame3!.HomeTeam.Id" />
                                    <input type="hidden" asp-for="NfcWildCardGame3!.HomeTeam.Name" />
                                    <input class="form-check-input" type="radio" asp-for="NfcWildCardGame3!.SelectedWinner" id="@this.Model.NfcWildCardGame3.HomeTeam.ViewId" value="@this.Model.NfcWildCardGame3.HomeTeam.Id" />
                                    <label for="@this.Model.NfcWildCardGame3.HomeTeam.ViewId">@this.Model.NfcWildCardGame3.HomeTeam.Name</label>
                                </div>
                                <div class="form-check">
                                    <input type="hidden" asp-for="NfcWildCardGame3!.AwayTeam.ViewId" />
                                    <input type="hidden" asp-for="NfcWildCardGame3!.AwayTeam.Id" />
                                    <input type="hidden" asp-for="NfcWildCardGame3!.AwayTeam.Name" />
                                    <input class="form-check-input" type="radio" asp-for="NfcWildCardGame3!.SelectedWinner" id="@this.Model.NfcWildCardGame3.AwayTeam.ViewId" value="@this.Model.NfcWildCardGame3.AwayTeam.Id" />
                                    <label for="@this.Model.NfcWildCardGame3.AwayTeam.ViewId">@this.Model.NfcWildCardGame3.AwayTeam.Name</label>
                                </div>
                                <span asp-validation-for="NfcWildCardGame3!.SelectedWinner" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <span class="pp-error">@error</span>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="pp-button-bar">
            <button type="submit">Save</button>
            <button type="reset">Cancel</button>
        </div>
    </form>
</div>