@using PlayoffPool.MVC.Models.Bracket;
@model BracketViewModel

@{
    string error = "There was a problem loading this game. Please contact Steven.";
}

<div class="container">
    <form method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="container">
            <div class="row">
                <div class="col afc">
                    <span class ="pp-conference-name">AFC</span>
                    @for (int i = 0; i < this.Model.AfcRounds.Count(); i++)
                    {
                        <input type="hidden" asp-for="AfcRounds[i].Conference" />
                        <input type="hidden" asp-for="AfcRounds[i].RoundNumber" />
                        <div class="row">
                            <span class="pp-round-name">Round @this.Model.AfcRounds[i].RoundNumber</span>
                            @for (int j = 0; j < this.Model.AfcRounds[i].Games.Count(); j++)
                            {
                                <div class="pp-matchup pp-matchup-afc">
                                    <input type="hidden" asp-for="AfcRounds[i].Games[j].Name" />
                                    <span class="pp-game-name">@this.Model.AfcRounds[i].Games[j].Name</span>
                                    <div class="form-check">
                                        <input type="hidden" asp-for="AfcRounds[i].Games[j].HomeTeam.ViewId" />
                                        <input type="hidden" asp-for="AfcRounds[i].Games[j].HomeTeam.Id" />
                                        <input type="hidden" asp-for="AfcRounds[i].Games[j].HomeTeam.Name" />
                                        <input type="hidden" asp-for="AfcRounds[i].Games[j].HomeTeam.Seed" />
                                        <input class="form-check-input" type="radio" asp-for="AfcRounds[i].Games[j].SelectedWinner" id="@this.Model.AfcRounds[i].Games[j].HomeTeam.ViewId" value="@this.Model.AfcRounds[i].Games[j].HomeTeam.Id" />
                                        <label for="@this.Model.AfcRounds[i].Games[j].HomeTeam.ViewId">@this.Model.AfcRounds[i].Games[j].HomeTeam.Name</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="hidden" asp-for="AfcRounds[i].Games[j].AwayTeam.ViewId" />
                                        <input type="hidden" asp-for="AfcRounds[i].Games[j].AwayTeam.Id" />
                                        <input type="hidden" asp-for="AfcRounds[i].Games[j].AwayTeam.Name" />
                                        <input type="hidden" asp-for="AfcRounds[i].Games[j].AwayTeam.Seed" />
                                        <input class="form-check-input" type="radio" asp-for="AfcRounds[i].Games[j].SelectedWinner" id="@this.Model.AfcRounds[i].Games[j].AwayTeam.ViewId" value="@this.Model.AfcRounds[i].Games[j].AwayTeam.Id" />
                                        <label for="@this.Model.AfcRounds[i].Games[j].AwayTeam.ViewId">@this.Model.AfcRounds[i].Games[j].AwayTeam.Name</label>
                                    </div>
                                    <span asp-validation-for="AfcRounds[i].Games[j].SelectedWinner" class="text-danger"></span>
                                </div>
                            }

                        </div>
                    }
                </div>

                <div class="col nfc">
                    <span class="pp-conference-name">NFC</span>
                    @for (int i = 0; i < this.Model.NfcRounds.Count(); i++)
                    {
                        <input type="hidden" asp-for="NfcRounds[i].Conference" />
                        <input type="hidden" asp-for="NfcRounds[i].RoundNumber" />
                        <div class="row">
                            <span class="pp-round-name">Round @this.Model.NfcRounds[i].RoundNumber</span>
                            @for (int j = 0; j < this.Model.NfcRounds[i].Games.Count(); j++)
                            {
                                <div class="pp-matchup pp-matchup-nfc">
                                    <input type="hidden" asp-for="NfcRounds[i].Games[j].Name" />
                                    <span class="pp-game-name">@this.Model.NfcRounds[i].Games[j].Name</span>
                                    <div class="form-check">
                                        <input type="hidden" asp-for="NfcRounds[i].Games[j].HomeTeam.ViewId" />
                                        <input type="hidden" asp-for="NfcRounds[i].Games[j].HomeTeam.Id" />
                                        <input type="hidden" asp-for="NfcRounds[i].Games[j].HomeTeam.Name" />
                                        <input type="hidden" asp-for="NfcRounds[i].Games[j].HomeTeam.Seed" />
                                        <input class="form-check-input" type="radio" asp-for="NfcRounds[i].Games[j].SelectedWinner" id="@this.Model.NfcRounds[i].Games[j].HomeTeam.ViewId" value="@this.Model.NfcRounds[i].Games[j].HomeTeam.Id" />
                                        <label for="@this.Model.NfcRounds[i].Games[j].HomeTeam.ViewId">@this.Model.NfcRounds[i].Games[j].HomeTeam.Name</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="hidden" asp-for="NfcRounds[i].Games[j].AwayTeam.ViewId" />
                                        <input type="hidden" asp-for="NfcRounds[i].Games[j].AwayTeam.Id" />
                                        <input type="hidden" asp-for="NfcRounds[i].Games[j].AwayTeam.Name" />
                                        <input type="hidden" asp-for="NfcRounds[i].Games[j].AwayTeam.Seed" />
                                        <input class="form-check-input" type="radio" asp-for="NfcRounds[i].Games[j].SelectedWinner" id="@this.Model.NfcRounds[i].Games[j].AwayTeam.ViewId" value="@this.Model.NfcRounds[i].Games[j].AwayTeam.Id" />
                                        <label for="@this.Model.NfcRounds[i].Games[j].AwayTeam.ViewId">@this.Model.NfcRounds[i].Games[j].AwayTeam.Name</label>
                                    </div>
                                    <span asp-validation-for="NfcRounds[i].Games[j].SelectedWinner" class="text-danger"></span>
                                </div>
                            }

                        </div>
                    }
                </div>
            </div>

            @if (this.Model.SuperBowl != null)
            {
                <div class="row">
                    <div class="container">
                        <div class="pp-matchup">
                            <input type="hidden" asp-for="SuperBowl.Name" />
                            <span class="pp-game-name">@this.Model.SuperBowl.Name</span>
                            <div class="form-check">
                                <input type="hidden" asp-for="SuperBowl.HomeTeam.ViewId" />
                                <input type="hidden" asp-for="SuperBowl.HomeTeam.Id" />
                                <input type="hidden" asp-for="SuperBowl.HomeTeam.Name" />
                                <input type="hidden" asp-for="SuperBowl.HomeTeam.Seed" />
                                <input class="form-check-input" type="radio" asp-for="SuperBowl.SelectedWinner" id="@this.Model.SuperBowl.HomeTeam.ViewId" value="@this.Model.SuperBowl.HomeTeam.Id" />
                                <label for="@this.Model.SuperBowl.HomeTeam.ViewId">@this.Model.SuperBowl.HomeTeam.Name</label>
                            </div>
                            <div class="form-check">
                                <input type="hidden" asp-for="SuperBowl.AwayTeam.ViewId" />
                                <input type="hidden" asp-for="SuperBowl.AwayTeam.Id" />
                                <input type="hidden" asp-for="SuperBowl.AwayTeam.Name" />
                                <input type="hidden" asp-for="SuperBowl.AwayTeam.Seed" />
                                <input class="form-check-input" type="radio" asp-for="SuperBowl.SelectedWinner" id="@this.Model.SuperBowl.AwayTeam.ViewId" value="@this.Model.SuperBowl.AwayTeam.Id" />
                                <label for="@this.Model.SuperBowl.AwayTeam.ViewId">@this.Model.SuperBowl.AwayTeam.Name</label>
                            </div>
                            <span asp-validation-for="SuperBowl.SelectedWinner" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="pp-button-bar">
            <button type="submit">Save</button>
            <button type="reset">Cancel</button>
        </div>
    </form>
</div>